$pink-color :#fa009f;
$white-color: #ffffff;
$purple-color-bg: #1f0644;
$Carrot-Orange: #ea842a;
$light-blue: #00a2ff;
$pink_border: #774297;
$light_purple: #6864b2;
$box_shadow: #9a13d2;
$box_shwdow_orange: #fea036;
$blue_purple:#24074f;
$currency_color: #fcc310;
$yellow_bg:#f7b230;
$border_lit_blue:#686fc5;
$white_blue: #ada6e7;
$white-off: #dbdcf7;
$purple: #39156d;
$text_color:#300983;
$green_color: #4fda38;
$dark_blue: #0b122e;
$nav_bg: #250752;
// box shadow
$blue_shadow: inset 0px 0px 10px 5px #00a2ff, 0px 0px 10px #00a2ff;